body {
    background-color: #183847; 
    color: #ffffff;
    font-size: 18px; 
    line-height: 1.6;            
}


html {
    scroll-behavior: smooth;
}
h1 {
    font-size: 42px; 
    text-align: center;
    margin-top: 30px;
}



h2 {
    font-size: 28px; 
    color: #1abbe3;  
    margin-bottom: 15px;
}
.nav-bar {
    background-color: #1abbe3; 
    padding: 15px;            
    text-align: center;       
    position: sticky; 
    top: 0;
    z-index: 1000;
}


.nav-bar a {
    text-decoration: none;
    color: #ffffff; 
    font-weight: bold;
    padding: 5px 10px;
    transition: 0.3s;
}




.nav-bar a:hover {
    color: #000000; 

}

section,.content-section {
    min-height: 600px; 
    padding-top: 50px 20px;
    border-bottom: 4px solid #101010; 
    
}





.my-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}




.my-button:hover {
    background-color: #0056b3; 
}

.center-section {
    text-align: center;
}


