
body {
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;     
    margin: 0;
    background-color: #222;
}

video {
    width: 600px;          
    max-width: 90%;         
    outline: none;
    border: 3px solid white; 
    border-radius: 10px;
}